In [40]:
import pandas as pd

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [41]:
# Вариант 1
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  robot
4  robot

In [42]:
data.loc[data['whoAmI'] == 'robot', 'human'] = int(0)
data.loc[data['whoAmI'] == 'human', 'human'] = int(1)
data.loc[data['whoAmI'] == 'robot', 'robot'] = int(1)
data.loc[data['whoAmI'] == 'human', 'robot'] = int(0)
data

   whoAmI  human  robot
0   human    1.0    0.0
1   human    1.0    0.0
2   robot    0.0    1.0
3   robot    0.0    1.0
4   robot    0.0    1.0
5   robot    0.0    1.0
6   human    1.0    0.0
7   human    1.0    0.0
8   human    1.0    0.0
9   robot    0.0    1.0
10  human    1.0    0.0
11  human    1.0    0.0
12  human    1.0    0.0
13  robot    0.0    1.0
14  robot    0.0    1.0
15  robot    0.0    1.0
16  human    1.0    0.0
17  human    1.0    0.0
18  robot    0.0    1.0
19  robot    0.0    1.0

In [43]:
# Вариант 2
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data2 = pd.DataFrame({'whoAmI': lst})
data2.head()

  whoAmI
0  human
1  robot
2  human
3  robot
4  human

In [44]:
lst1 = []
lst2 = []
for i in range(len(lst)):
  if lst[i] == 'human':
    lst1.append(int(1))
    lst2.append(int(0))
  else:
    lst1.append(int(0))
    lst2.append(int(1))

data2 = pd.DataFrame({'whoAmI': lst, 'human': lst1, 'robot': lst2})
data2

   whoAmI  human  robot
0   human      1      0
1   robot      0      1
2   human      1      0
3   robot      0      1
4   human      1      0
5   human      1      0
6   human      1      0
7   human      1      0
8   robot      0      1
9   robot      0      1
10  robot      0      1
11  robot      0      1
12  human      1      0
13  robot      0      1
14  robot      0      1
15  human      1      0
16  robot      0      1
17  robot      0      1
18  human      1      0
19  human      1      0